/** Styles for Commecer Shipping Costs Block **/

.block-shopping-cart-block .content {
  white-space: nowrap;
}

.block-commerce-seur {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  text-align: right;
  right: 131px;
  top: 5px;
}

.block-commerce-seur .content {
   display: table;
}

.block-commerce-seur .content .shipping,
.block-commerce-seur .content .total {
  display: table-row;
}

.block-commerce-seur .content .title,
.block-commerce-seur .content .rates {
  display: table-cell;
  margin: 0;
  padding: 0 3px;
}

.block-commerce-seur .content .total .title {
  font-weight: 700;
}

.block-commerce-seur .rates {
  color: #888;
  font-weight: 300;
  line-height: 20px;
}
